In [1]:
import pandas as pd
import numpy as np

In [44]:
survey_result = pd.read_csv("survey_result.csv")

In [45]:
survey_result.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 138 entries, 0 to 137
Data columns (total 30 columns):
 #   Column                                                             Non-Null Count  Dtype
---  ------                                                             --------------  -----
 0   타임스탬프                                                              138 non-null    object
 1   귀하의 성별은 무엇입니까                                                      138 non-null    object
 2   귀하는 몇년도에 태어나셨습니까                                                   138 non-null    object
 3   귀하의 직업군은 어떻게 되십니까                                                  135 non-null    object
 4   월 평균 취미를 위해 얼마 정도를 쓰시나요?                                           135 non-null    object
 5   귀하의 최종 학력은 어떻게 되십니까?                                               138 non-null    object
 6   귀하는 어디에 사십니까                                                       138 non-null    object
 7   귀하의 결혼여부가 궁금합니다.                                                   138 non-null    object
 8   귀하는 호오오오옥시 연애 중이신가요?                                               97 non-null     object
 9   귀하의 취미는 무엇일까요? 자유롭게 적어주세요                                          138 non-null    object
 10  귀하의 취미를 즐기신지는 얼마나 되었을까요?                                           135 non-null    object
 11  귀하의 MBTI는 어떻게 되실까요?                                                138 non-null    object
 12  어떤 취미나 취미활동을 현재 가지고 있나요? 유사한 것이 있다면 모두 골라주세요                       138 non-null    object
 13  일주일에 얼마나 자주 취미 활동을 하시나요?                                           138 non-null    object
 14  취미를 즐기는 이유가 무엇인가요?(중복선택 가능)                                        138 non-null    object
 15  2019년에는 무엇이 가장 흥미로우셨나요?                                            137 non-null    object
 16  (선택사항) 2019년에 가장 흥미로웠던 이유는 무엇일까요?                                  81 non-null     object
 17  2020년에는 무엇이 가장 흥미로우셨나요?                                            137 non-null    object
 18  (선택사항) 2020에 가장 흥미로웠던 이유는 무엇일까요?                                   80 non-null     object
 19  2021년에는 무엇이 가장 흥미로우셨나요?                                            137 non-null    object
 20  (선택사항) 2021에 가장 흥미로웠던 이유는 무엇일까요?                                   77 non-null     object
 21  2022년에는 무엇이 가장 흥미로우셨나요?                                            137 non-null    object
 22  (선택사항) 2022에 가장 흥미로웠던 이유는 무엇일까요?                                   80 non-null     object
 23  2023년에는 무엇이 가장 흥미로우신가요?                                            137 non-null    object
 24  (선택사항) 2023에 가장 흥미로웠던 이유는 무엇일까요?                                   80 non-null     object
 25  2024년에는 무엇이 가장 땡기시나요?                                              137 non-null    object
 26  (선택사항) 2024년에 가장 땡기는 이유가 무엇일까요?                                    76 non-null     object
 27  취미생활을 위해서 사용하는 플랫폼이 있나요?                                           137 non-null    object
 28  (선택사항) 본인은 취미 트렌드에 민감하신 편인가요?
1(매우 둔감)에서 8(매우 민감) 사이의 숫자로 표현해주세요.  128 non-null    float64
 29  혹시 최근에 가장 흥미로운 취미나 활동이 있으신가요?                                      111 non-null    object
dtypes: float64(1), object(29)
memory usage: 32.5+ KB

In [46]:
survey_result.head(2)

,타임스탬프,귀하의 성별은 무엇입니까,귀하는 몇년도에 태어나셨습니까,귀하의 직업군은 어떻게 되십니까,월 평균 취미를 위해 얼마 정도를 쓰시나요?,귀하의 최종 학력은 어떻게 되십니까?,귀하는 어디에 사십니까,귀하의 결혼여부가 궁금합니다.,귀하는 호오오오옥시 연애 중이신가요?,귀하의 취미는 무엇일까요? 자유롭게 적어주세요,...,(선택사항) 2021에 가장 흥미로웠던 이유는 무엇일까요?,2022년에는 무엇이 가장 흥미로우셨나요?,(선택사항) 2022에 가장 흥미로웠던 이유는 무엇일까요?,2023년에는 무엇이 가장 흥미로우신가요?,(선택사항) 2023에 가장 흥미로웠던 이유는 무엇일까요?,2024년에는 무엇이 가장 땡기시나요?,(선택사항) 2024년에 가장 땡기는 이유가 무엇일까요?,취미생활을 위해서 사용하는 플랫폼이 있나요?,(선택사항) 본인은 취미 트렌드에 민감하신 편인가요?\n1(매우 둔감)에서 8(매우 민감) 사이의 숫자로 표현해주세요.,혹시 최근에 가장 흥미로운 취미나 활동이 있으신가요?
0,2023/11/07 8:21:01 오전 GMT+9,남성,1981년~1990년,NaN,NaN,대학교 졸업(학사졸업),서울의 서쪽,기혼,NaN,독서,...,NaN,결혼,NaN,독서,NaN,음주,NaN,사용 안함,NaN,음주
1,2023/11/07 9:23:19 오전 GMT+9,여성,1991년~1995년,NaN,NaN,대학교 졸업(학사졸업),서울의 서쪽,미혼,휴식중,여행,...,NaN,골프,NaN,여행,NaN,배트민턴,NaN,프립,NaN,배트민턴

In [47]:
del survey_result['타임스탬프']

In [48]:
survey_result.head(2)

,귀하의 성별은 무엇입니까,귀하는 몇년도에 태어나셨습니까,귀하의 직업군은 어떻게 되십니까,월 평균 취미를 위해 얼마 정도를 쓰시나요?,귀하의 최종 학력은 어떻게 되십니까?,귀하는 어디에 사십니까,귀하의 결혼여부가 궁금합니다.,귀하는 호오오오옥시 연애 중이신가요?,귀하의 취미는 무엇일까요? 자유롭게 적어주세요,귀하의 취미를 즐기신지는 얼마나 되었을까요?,...,(선택사항) 2021에 가장 흥미로웠던 이유는 무엇일까요?,2022년에는 무엇이 가장 흥미로우셨나요?,(선택사항) 2022에 가장 흥미로웠던 이유는 무엇일까요?,2023년에는 무엇이 가장 흥미로우신가요?,(선택사항) 2023에 가장 흥미로웠던 이유는 무엇일까요?,2024년에는 무엇이 가장 땡기시나요?,(선택사항) 2024년에 가장 땡기는 이유가 무엇일까요?,취미생활을 위해서 사용하는 플랫폼이 있나요?,(선택사항) 본인은 취미 트렌드에 민감하신 편인가요?\n1(매우 둔감)에서 8(매우 민감) 사이의 숫자로 표현해주세요.,혹시 최근에 가장 흥미로운 취미나 활동이 있으신가요?
0,남성,1981년~1990년,NaN,NaN,대학교 졸업(학사졸업),서울의 서쪽,기혼,NaN,독서,NaN,...,NaN,결혼,NaN,독서,NaN,음주,NaN,사용 안함,NaN,음주
1,여성,1991년~1995년,NaN,NaN,대학교 졸업(학사졸업),서울의 서쪽,미혼,휴식중,여행,NaN,...,NaN,골프,NaN,여행,NaN,배트민턴,NaN,프립,NaN,배트민턴

In [49]:
survey_result.columns

Index(['귀하의 성별은 무엇입니까', '귀하는 몇년도에 태어나셨습니까', '귀하의 직업군은 어떻게 되십니까 ',
       '월 평균 취미를 위해 얼마 정도를 쓰시나요?', '귀하의 최종 학력은 어떻게 되십니까?', '귀하는 어디에 사십니까',
       '귀하의 결혼여부가 궁금합니다.', '귀하는 호오오오옥시 연애 중이신가요?', '귀하의 취미는 무엇일까요? 자유롭게 적어주세요',
       '귀하의 취미를 즐기신지는 얼마나 되었을까요? ', '귀하의 MBTI는 어떻게 되실까요?',
       '어떤 취미나 취미활동을 현재 가지고 있나요? 유사한 것이 있다면 모두 골라주세요',
       '일주일에 얼마나 자주 취미 활동을 하시나요?', '취미를 즐기는 이유가 무엇인가요?(중복선택 가능)',
       '2019년에는 무엇이 가장 흥미로우셨나요?', '(선택사항) 2019년에 가장 흥미로웠던 이유는 무엇일까요?',
       '2020년에는 무엇이 가장 흥미로우셨나요?', '(선택사항) 2020에 가장 흥미로웠던 이유는 무엇일까요?',
       '2021년에는 무엇이 가장 흥미로우셨나요?', '(선택사항) 2021에 가장 흥미로웠던 이유는 무엇일까요?',
       '2022년에는 무엇이 가장 흥미로우셨나요?', '(선택사항) 2022에 가장 흥미로웠던 이유는 무엇일까요?',
       '2023년에는 무엇이 가장 흥미로우신가요?', '(선택사항) 2023에 가장 흥미로웠던 이유는 무엇일까요?',
       '2024년에는 무엇이 가장 땡기시나요?', '(선택사항) 2024년에 가장 땡기는 이유가 무엇일까요?',
       '취미생활을 위해서 사용하는 플랫폼이 있나요?',
       '(선택사항) 본인은 취미 트렌드에 민감하신 편인가요?\n1(매우 둔감)에서 8(매우 민감) 사이의 숫자로 표현해주세요.',
       '혹시 최근에 가장 흥미로운 취미나 활동이 있으신가요?'],
      dtype='object')

In [50]:
columns = ['성별', '생년', '직업', '취미비용', '학력', '거주지', '결혼', '연애', '취미(입력)', '취미기간', 'MBTI', '취미(선택)', '취미빈도(주간)', \
'취미이유', '2019년 취미', '2019년 취미이유', '2020년 취미', '2020년 취미이유', '2021년 취미', '2021년 취미이유', '2022년 취미', '2022년 취미이유', \
'2023년 취미', '2023년 취미이유', '2024년 흥미', '2024년 흥미이유', '취미플랫폼', '취미트렌드민감도', '흥미취미']

In [51]:
len(columns)

29

In [52]:
len(survey_result.columns)

29

In [53]:
survey_result.columns = columns

In [54]:
survey_result['취미플랫폼']

0         사용 안함
1            프립
2         사용 안함
3         사용 안함
4        아이디어스;
         ...
133    오프라인 동호회
134         소모임
135       사용 안함
136       사용 안함
137       사용 안함
Name: 취미플랫폼, Length: 138, dtype: object

In [57]:
platform = survey_result[['생년', '취미플랫폼']]

In [78]:
platform['플랫폼사용여부'] = ~platform['취미플랫폼'].str.contains('사용 안함').astype(bool)

/var/folders/mn/mv_h_0h12975q65416bbw9qr0000gn/T/ipykernel_13127/4114957260.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  platform['플랫폼사용여부'] = ~platform['취미플랫폼'].str.contains('사용 안함').astype(bool)

In [79]:
platform

              생년     취미플랫폼  플랫폼사용여부
0    1981년~1990년     사용 안함    False
1    1991년~1995년        프립     True
2    1991년~1995년     사용 안함    False
3    1981년~1990년     사용 안함    False
4    1981년~1990년    아이디어스;     True
..           ...       ...      ...
133  1991년~1995년  오프라인 동호회     True
134  1981년~1990년       소모임     True
135  1991년~1995년     사용 안함    False
136  1991년~1995년     사용 안함    False
137  1981년~1990년     사용 안함    False

[138 rows x 3 columns]

In [76]:
# 나이에 따른 사용여부

In [81]:
platform.groupby(['생년', '플랫폼사용여부']).count()

                     취미플랫폼
생년          플랫폼사용여부
1970년~1975년 False        1
1976년~1980년 False        4
            True         2
1981년~1990년 False       27
            True        19
1991년~1995년 False       35
            True        34
1996년~2000년 False        8
            True         6
2001년~2005년 False        1

In [84]:
trend = survey_result[['취미트렌드민감도', '흥미취미']]

In [85]:
trend

     취미트렌드민감도        흥미취미
0         NaN          음주
1         NaN        배트민턴
2         NaN         뮤지컬
3         2.0         NaN
4         3.0          골프
..        ...         ...
133       4.0         NaN
134       1.0  Chatgpt 그림
135       1.0          작곡
136       3.0       맛집 탐방
137       2.0         NaN

[138 rows x 2 columns]

In [95]:
trend.reset_index().groupby(['취미트렌드민감도', '흥미취미']).count().sort_values(['취미트렌드민감도'], ascending=False)

                                    index
취미트렌드민감도 흥미취미
8.0      클래식 감상(via Youtube Music)      1
         스쿠버다이빙                         1
         소소한 쇼핑? 패션에 관심이 생겼어요           1
7.0      플라워                            1
         테니스                            1
...                                   ...
1.0      작곡                             1
         쿵푸 클럽에 가입해 배워봄                 1
         클라이밍                           1
         홈트                             1
         2인이서 즐길 수 있는 보드게임 요가           1

[96 rows x 1 columns]

In [96]:
survey_result

,성별,생년,직업,취미비용,학력,거주지,결혼,연애,취미(입력),취미기간,...,2021년 취미이유,2022년 취미,2022년 취미이유,2023년 취미,2023년 취미이유,2024년 흥미,2024년 흥미이유,취미플랫폼,취미트렌드민감도,흥미취미
0,남성,1981년~1990년,NaN,NaN,대학교 졸업(학사졸업),서울의 서쪽,기혼,NaN,독서,NaN,...,NaN,결혼,NaN,독서,NaN,음주,NaN,사용 안함,NaN,음주
1,여성,1991년~1995년,NaN,NaN,대학교 졸업(학사졸업),서울의 서쪽,미혼,휴식중,여행,NaN,...,NaN,골프,NaN,여행,NaN,배트민턴,NaN,프립,NaN,배트민턴
2,남성,1991년~1995년,NaN,NaN,대학교 졸업(학사졸업),서울의 남쪽,미혼,휴식중,게임,NaN,...,NaN,투자,NaN,대학원,NaN,휴식,NaN,사용 안함,NaN,뮤지컬
3,남성,1981년~1990년,금융인,10만원 초과 30만원 이하,대학교 졸업(학사졸업),서울의 서쪽,기혼,NaN,독서,5년 이상,...,NaN,독서,NaN,독서,NaN,음주,NaN,사용 안함,2.0,NaN
4,남성,1981년~1990년,금융인,10만원 초과 30만원 이하,대학교 졸업(학사졸업),서울의 북쪽,기혼,NaN,"축구, 골프",5년 이상,...,2020과 같음,축구,코로나가 풀려서 원래하던거 했음,골프,새로운 운동시작,골프,다양한 사람들 만나면서 새로운 운동 해볼라고,아이디어스;,3.0,골프
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
133,여성,1991년~1995년,금융인,10만원 초과 30만원 이하,대학교 졸업(학사졸업),서울의 남쪽,미혼,휴식중,"골프, 독서, 음주",2년 ~ 3년,...,골프입문,독서,부동산 관심가지기 시작,MBA,DFMBA 입학,투자,30대에 30억 만들기 프로젝트 수행중,오프라인 동호회,4.0,NaN
134,남성,1981년~1990년,금융인,1만원 초과 10만원 이하,대학교 졸업(학사졸업),서울의 남쪽,기혼,NaN,유튜브 시청,5년 이상,...,2020년 12월에 미국 CEO들 주식 집단 처분,우크라이나 전쟁,아프리카 등 여러 대륙과 다양한 이권이 엃힌 전쟁,원자재시장,2023년1월 PTP과세 전격 시행,금리,모두들 2024년에 금리인하를 예상하고 있음,소모임,1.0,Chatgpt 그림
135,남성,1991년~1995년,IT인,30만원 초과 60만원 이하,대학교 졸업(학사졸업),서울의 중부…?,미혼,연애중,"요리, 외국어, 한때 스노우보드",5년 이상,...,옛날부터 배워보고 싶었어요,여행,다시 갈 수 있게 돼서,DFMBA,젊어지는 기분,작곡 글짓기 무술,옛날부터 해 보고 싶었음,사용 안함,1.0,작곡
136,남성,1991년~1995년,금융인,10만원 초과 30만원 이하,대학교 졸업(학사졸업),서울 밖의 경기,미혼,연애중,베이스기타,5년 이상,...,NaN,언어 공부,NaN,헬스,NaN,테니스,NaN,사용 안함,3.0,맛집 탐방
137,남성,1981년~1990년,금융인,10만원 초과 30만원 이하,대학교 졸업(학사졸업),서울 밖의 경기,기혼,NaN,"영화, 독서, 각종 스포츠, 캠핑",2년 ~ 3년,...,NaN,월드컵,NaN,주식투자,NaN,해외여행,NaN,사용 안함,2.0,NaN

In [101]:
survey_result['직업'].drop_duplicates()

0                         NaN
3                         금융인
5                         IT인
6        일반직장인(재무, 구매, 설계 등등)
7      사장님, 대표님 등 헤드(친하게 지내요)
11                        의료인
12                        교육인
16          신이내린직업 "(돈많은) 백수"
27                        법조인
28                        공노비
32                        콘텐츠
41                       영업사원
43                        제조인
46                        건설인
52                     박사후연구원
70                         방송
78                      스-튜단트
107                      컨설턴트
108                       유통인
Name: 직업, dtype: object

In [103]:
survey_result['직업'] = survey_result['직업'].str.replace('사장님, 대표님 등 헤드(친하게 지내요)', '대표').replace('신이내린직업 "(돈많은) 백수"', '무직').replace('공노비', '공무원').replace('스-튜단트', '학생')

In [104]:
survey_result['직업'].drop_duplicates()

0                       NaN
3                       금융인
5                       IT인
6      일반직장인(재무, 구매, 설계 등등)
7                        대표
11                      의료인
12                      교육인
16                       무직
27                      법조인
28                      공무원
32                      콘텐츠
41                     영업사원
43                      제조인
46                      건설인
52                   박사후연구원
70                       방송
78                       학생
107                    컨설턴트
108                     유통인
Name: 직업, dtype: object

In [105]:
survey_result.columns

Index(['성별', '생년', '직업', '취미비용', '학력', '거주지', '결혼', '연애', '취미(입력)', '취미기간',
       'MBTI', '취미(선택)', '취미빈도(주간)', '취미이유', '2019년 취미', '2019년 취미이유',
       '2020년 취미', '2020년 취미이유', '2021년 취미', '2021년 취미이유', '2022년 취미',
       '2022년 취미이유', '2023년 취미', '2023년 취미이유', '2024년 흥미', '2024년 흥미이유',
       '취미플랫폼', '취미트렌드민감도', '흥미취미'],
      dtype='object')

In [129]:
survey_result['MBTI'] = survey_result['MBTI'].str.replace('INFJ-T', 'INFJ') \
                                            .str.replace('안했어요', '모름') \
                                            .str.replace('ESTJ ESFP', 'ESTJ') \
                                            .str.replace('ENFJ OR INFP(검사할 때마다 번갈아가면서 나옵니다)', 'ENFJ') \
                                            .str.replace('몰라요', '모름')

In [138]:
survey_result['흥미취미']

0              음주
1            배트민턴
2             뮤지컬
3             NaN
4              골프
          ...
133           NaN
134    Chatgpt 그림
135            작곡
136         맛집 탐방
137           NaN
Name: 흥미취미, Length: 138, dtype: object

In [119]:
survey_result['연애'] = survey_result['연애'].fillna('비공개')

In [ ]:
# 취미(입력),취미(선택), 취미이유

In [140]:
survey_result

,성별,생년,직업,취미비용,학력,거주지,결혼,연애,취미(입력),취미기간,...,2021년 취미이유,2022년 취미,2022년 취미이유,2023년 취미,2023년 취미이유,2024년 흥미,2024년 흥미이유,취미플랫폼,취미트렌드민감도,흥미취미
0,남성,1981년~1990년,NaN,NaN,대학교 졸업(학사졸업),서울의 서쪽,기혼,비공개,독서,NaN,...,NaN,결혼,NaN,독서,NaN,음주,NaN,사용 안함,NaN,음주
1,여성,1991년~1995년,NaN,NaN,대학교 졸업(학사졸업),서울의 서쪽,미혼,휴식중,여행,NaN,...,NaN,골프,NaN,여행,NaN,배트민턴,NaN,프립,NaN,배트민턴
2,남성,1991년~1995년,NaN,NaN,대학교 졸업(학사졸업),서울의 남쪽,미혼,휴식중,게임,NaN,...,NaN,투자,NaN,대학원,NaN,휴식,NaN,사용 안함,NaN,뮤지컬
3,남성,1981년~1990년,금융인,10만원 초과 30만원 이하,대학교 졸업(학사졸업),서울의 서쪽,기혼,비공개,독서,5년 이상,...,NaN,독서,NaN,독서,NaN,음주,NaN,사용 안함,2.0,NaN
4,남성,1981년~1990년,금융인,10만원 초과 30만원 이하,대학교 졸업(학사졸업),서울의 북쪽,기혼,비공개,"축구, 골프",5년 이상,...,2020과 같음,축구,코로나가 풀려서 원래하던거 했음,골프,새로운 운동시작,골프,다양한 사람들 만나면서 새로운 운동 해볼라고,아이디어스;,3.0,골프
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
133,여성,1991년~1995년,금융인,10만원 초과 30만원 이하,대학교 졸업(학사졸업),서울의 남쪽,미혼,휴식중,"골프, 독서, 음주",2년 ~ 3년,...,골프입문,독서,부동산 관심가지기 시작,MBA,DFMBA 입학,투자,30대에 30억 만들기 프로젝트 수행중,오프라인 동호회,4.0,NaN
134,남성,1981년~1990년,금융인,1만원 초과 10만원 이하,대학교 졸업(학사졸업),서울의 남쪽,기혼,비공개,유튜브 시청,5년 이상,...,2020년 12월에 미국 CEO들 주식 집단 처분,우크라이나 전쟁,아프리카 등 여러 대륙과 다양한 이권이 엃힌 전쟁,원자재시장,2023년1월 PTP과세 전격 시행,금리,모두들 2024년에 금리인하를 예상하고 있음,소모임,1.0,Chatgpt 그림
135,남성,1991년~1995년,IT인,30만원 초과 60만원 이하,대학교 졸업(학사졸업),서울의 중앙,미혼,연애중,"요리, 외국어, 한때 스노우보드",5년 이상,...,옛날부터 배워보고 싶었어요,여행,다시 갈 수 있게 돼서,DFMBA,젊어지는 기분,작곡 글짓기 무술,옛날부터 해 보고 싶었음,사용 안함,1.0,작곡
136,남성,1991년~1995년,금융인,10만원 초과 30만원 이하,대학교 졸업(학사졸업),서울 밖의 경기,미혼,연애중,베이스기타,5년 이상,...,NaN,언어 공부,NaN,헬스,NaN,테니스,NaN,사용 안함,3.0,맛집 탐방
137,남성,1981년~1990년,금융인,10만원 초과 30만원 이하,대학교 졸업(학사졸업),서울 밖의 경기,기혼,비공개,"영화, 독서, 각종 스포츠, 캠핑",2년 ~ 3년,...,NaN,월드컵,NaN,주식투자,NaN,해외여행,NaN,사용 안함,2.0,NaN

In [142]:
survey_result.to_excel("reformed.xlsx")

In [143]:
reformed = pd.read_excel('reformed.xlsx')

In [146]:
del reformed['Unnamed: 0']

In [193]:
reformed.columns

Index(['성별', '생년', '직업', '취미비용', '학력', '거주지', '결혼', '연애', '취미(입력)', '취미기간',
       'MBTI', '취미(선택)', '취미빈도(주간)', '취미이유', '2019년 취미', '2019년 취미이유',
       '2020년 취미', '2020년 취미이유', '2021년 취미', '2021년 취미이유', '2022년 취미',
       '2022년 취미이유', '2023년 취미', '2023년 취미이유', '2024년 흥미', '2024년 흥미이유',
       '취미플랫폼', '취미트렌드민감도', '흥미취미'],
      dtype='object')

In [194]:
base_columns = ('성별', '생년', '직업', '취미비용', '학력', '거주지', '결혼', '연애', '취미트렌드민감도', '취미빈도(주간)', 'MBTI')

In [267]:
reformed['2024년 흥미']

id
0             음주
1           배드민턴
2             휴식
3             음주
4             골프
         ...
133           투자
134           금리
135    작곡 글짓기 무술
136          테니스
137         해외여행
Name: 2024년 흥미, Length: 138, dtype: object

In [268]:
column_name = '2024년 흥미'
splited = reformed[column_name] \
    .str.split(pat=',', expand=True) \
    .stack() \
    .reset_index() \
    .set_index('id')
del splited['level_1']
splited.columns = [column_name]
splited

      2024년 흥미
id
0           음주
1         배드민턴
2           휴식
3           음주
4           골프
..         ...
133         투자
134         금리
135  작곡 글짓기 무술
136        테니스
137       해외여행

[165 rows x 1 columns]

In [269]:
splited.to_csv(column_name + '.csv')

In [280]:
hobby = pd.DataFrame()

In [303]:
year = 2024
temp = pd.read_csv(str(year) + '년 흥미.csv')

In [304]:
temp['연도'] = year

In [305]:
temp['취미'] = temp[str(year) + '년 흥미']
del temp[str(year) + '년 흥미']
hobby = pd.concat([hobby, temp])

In [308]:
hobby.drop_duplicates().to_excel("취미트렌드.xlsx")

In [196]:
reformed['취미(선택)']

0                                                     독서
1                    스포츠 관련 취미 ( 각종 스포츠 직접 하기 혹은 스포츠 관람)
2                                                     독서
3                                                  독서;음주
4      축구, 야구, 농구, 배구 등 스포츠 관람 취미;시청각 자료 시청 관련 취미 ( 드...
                             ...
133    독서;음주;구기 종목 활동 참여 취미(축구, 야구, 농구, 배구, 골프, 족구, 세...
134         시청각 자료 시청 관련 취미 ( 드라마, 유튭, 영화, 연극, 뮤지컬 시청 등)
135    악기 연주( 현악, 관악 등 모두 가능);요리;독서;예술 창작 활동(글쓰기, 공예,...
136    악기 연주( 현악, 관악 등 모두 가능);요리;축구, 야구, 농구, 배구 등 스포츠...
137    축구, 야구, 농구, 배구 등 스포츠 관람 취미;시청각 자료 시청 관련 취미 ( 드...
Name: 취미(선택), Length: 138, dtype: object

In [183]:
expanded

,성별,생년,직업,취미비용,학력,거주지,결혼,연애,취미트렌드민감도,취미빈도(주간),취미
0,남성,1981년~1990년,NaN,NaN,대학교 졸업(학사졸업),서울의 서쪽,기혼,비공개,NaN,주 2~3회,독서
1,여성,1991년~1995년,NaN,NaN,대학교 졸업(학사졸업),서울의 서쪽,미혼,휴식중,NaN,주 2~3회,여행
2,남성,1991년~1995년,NaN,NaN,대학교 졸업(학사졸업),서울의 남쪽,미혼,휴식중,NaN,주 2~3회,게임
3,남성,1981년~1990년,금융인,10만원 초과 30만원 이하,대학교 졸업(학사졸업),서울의 서쪽,기혼,비공개,2.0,주 2~3회,독서
4,남성,1981년~1990년,금융인,10만원 초과 30만원 이하,대학교 졸업(학사졸업),서울의 북쪽,기혼,비공개,3.0,주 1회,축구
...,...,...,...,...,...,...,...,...,...,...,...
136,남성,1991년~1995년,금융인,10만원 초과 30만원 이하,대학교 졸업(학사졸업),서울 밖의 경기,미혼,연애중,3.0,주 2~3회,베이스기타
137,남성,1981년~1990년,금융인,10만원 초과 30만원 이하,대학교 졸업(학사졸업),서울 밖의 경기,기혼,비공개,2.0,월 1회,영화
137,남성,1981년~1990년,금융인,10만원 초과 30만원 이하,대학교 졸업(학사졸업),서울 밖의 경기,기혼,비공개,2.0,월 1회,독서
137,남성,1981년~1990년,금융인,10만원 초과 30만원 이하,대학교 졸업(학사졸업),서울 밖의 경기,기혼,비공개,2.0,월 1회,각종 스포츠
137,남성,1981년~1990년,금융인,10만원 초과 30만원 이하,대학교 졸업(학사졸업),서울 밖의 경기,기혼,비공개,2.0,월 1회,캠핑

In [177]:
expanded.to_csv('입력취미.csv')

In [178]:
reformed.columns

Index(['성별', '생년', '직업', '취미비용', '학력', '거주지', '결혼', '연애', '취미(입력)', '취미기간',
       'MBTI', '취미(선택)', '취미빈도(주간)', '취미이유', '2019년 취미', '2019년 취미이유',
       '2020년 취미', '2020년 취미이유', '2021년 취미', '2021년 취미이유', '2022년 취미',
       '2022년 취미이유', '2023년 취미', '2023년 취미이유', '2024년 흥미', '2024년 흥미이유',
       '취미플랫폼', '취미트렌드민감도', '흥미취미'],
      dtype='object')

In [309]:
group = reformed[list(base_columns)]

In [206]:
group.index.name = 'id'

In [314]:
group.to_csv('group.csv')

In [312]:
group['MBTI-1'] = group['MBTI'].str[0]
group['MBTI-2'] = group['MBTI'].str[1]
group['MBTI-3'] = group['MBTI'].str[2]
group['MBTI-4'] = group['MBTI'].str[3]

/var/folders/mn/mv_h_0h12975q65416bbw9qr0000gn/T/ipykernel_13127/3448509391.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  group['MBTI-1'] = group['MBTI'].str[0]
/var/folders/mn/mv_h_0h12975q65416bbw9qr0000gn/T/ipykernel_13127/3448509391.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  group['MBTI-2'] = group['MBTI'].str[1]
/var/folders/mn/mv_h_0h12975q65416bbw9qr0000gn/T/ipykernel_13127/3448509391.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  group['MBTI-3'] = group['MBTI'].str[2]
/var/folders/mn/mv_h_0h12975q65416bbw9qr0000gn/T/ipykernel_13127/3448509391.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  group['MBTI-4'] = group['MBTI'].str[3]