In [2]:
import numpy as np
import pandas as pd

In [69]:
data = pd.read_csv('CI_LSR_CLTUR_SCLAS_TY_ACCTO_EXPR_AT_INFO_202310.csv')

In [70]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2110 entries, 0 to 2109
Data columns (total 8 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   RESPOND_ID                            2110 non-null   int64
 1   EXAMIN_YM                             2110 non-null   int64
 2   SEXDSTN_FLAG_CD                       2110 non-null   object
 3   AGRDE_FLAG_NM                         2110 non-null   object
 4   ANSWRR_OC_AREA_NM                     2110 non-null   object
 5   HSHLD_INCOME_DGREE_NM                 2110 non-null   object
 6   WT3M_EXPR_LSR_CLTUR_VALUE             2110 non-null   object
 7   ONE_YEAR_WITHIN_EXPR_LSR_CLTUR_VALUE  2110 non-null   object
dtypes: int64(2), object(6)
memory usage: 132.0+ KB

In [61]:
data.head(10)

,RESPOND_ID,EXAMIN_YM,SEXDSTN_FLAG_CD,AGRDE_FLAG_NM,ANSWRR_OC_AREA_NM,HSHLD_INCOME_DGREE_NM,WT3M_EXPR_LSR_CLTUR_VALUE,ONE_YEAR_WITHIN_EXPR_LSR_CLTUR_VALUE
0,425726,202310,M,20대,강원도,무응답,"국내 프로스포츠 영상 시청, 걷기-속보-조깅 직접 하기, 골프 직접 하기, 구기스포...","영화관 관람, 국내 프로스포츠 영상 시청, 국내 프로스포츠 현장 관람, 걷기-속보-..."
1,451059,202310,M,20대,강원도,300만원 미만,"국내 여행, 드라이브, 축제 참가, SNS -인터넷 커뮤니티 활동, 게임, 낮잠자기...","영화관 관람, 국내 여행, 드라이브, 축제 참가, 캠핑-차박, 테마파크-시설 방문,..."
2,53331589,202310,F,20대,강원도,500이상700만원 미만,"음악 공연 관람, 걷기-속보-조깅 직접 하기, 줄넘기-맨손체조-스트레칭 직접 하기,...","음악 공연 관람, 걷기-속보-조깅 직접 하기, 줄넘기-맨손체조-스트레칭 직접 하기,..."
3,53359967,202310,M,20대,강원도,300만원 미만,"음악 공연 관람, 기타 스포츠 영상-현장 관람, 구기스포츠 직접 하기, 게임","음악 공연 관람, e스포츠 영상 시청, 기타 스포츠 영상-현장 관람, 구기스포츠 직..."
4,53363247,202310,F,20대,강원도,무응답,"사진 직접 활동 및 수강하기, 음악 직접 활동 및 수강하기, 국내 프로스포츠 영상 ...","박물관 관람, 음악 공연 관람, 사진 직접 활동 및 수강하기, 음악 직접 활동 및 ..."
5,53375144,202310,F,20대,강원도,700만원 이상,"국내 여행, 드라이브, 게임, 낮잠자기, 맛집-카페 탐방, 사진 촬영, 쇼핑, 영상...","국내 여행, 드라이브, 테마파크-시설 방문, 해외여행, 게임, 낮잠자기, 맛집-카페..."
6,53374608,202310,M,30대,강원도,300만원 미만,"드라이브, SNS -인터넷 커뮤니티 활동, 게임, 낮잠자기, 수집, 인테리어, 수다...","드라이브, SNS -인터넷 커뮤니티 활동, 게임, 낮잠자기, 산책-걷기, 수집, 인..."
7,53361077,202310,F,30대,강원도,300이상500만원 미만,"국내 여행, 드라이브, 소풍-피크닉, 테마파크-시설 방문, SNS -인터넷 커뮤니티...","미술관-전시관 관람, 영화관 관람, 국내 여행, 드라이브, 소풍-피크닉, 테마파크-..."
8,53333644,202310,F,30대,강원도,무응답,"테마파크-시설 방문, 산책-걷기, 쇼핑, 영상 컨텐츠 시청, 음악-라디오 감상, 독...","테마파크-시설 방문, 산책-걷기, 쇼핑, 영상 컨텐츠 시청, 음악-라디오 감상, 독..."
9,53342921,202310,M,30대,강원도,300이상500만원 미만,해외 프로스포츠 영상 시청,"해외 프로스포츠 영상 시청, 게임"

In [71]:
expanded = pd.concat([
    data, 
    data['WT3M_EXPR_LSR_CLTUR_VALUE'].str.split(pat=',', expand=True).stack().reset_index().set_index('level_0')
    # data['ONE_YEAR_WITHIN_EXPR_LSR_CLTUR_VALUE'].str.split(pat=',', expand=True)
], axis=1)

In [74]:
del expanded['WT3M_EXPR_LSR_CLTUR_VALUE']
del expanded['ONE_YEAR_WITHIN_EXPR_LSR_CLTUR_VALUE']

In [95]:
expanded.info()

<class 'pandas.core.frame.DataFrame'>
Index: 18880 entries, 0 to 2109
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   RESPOND_ID             18880 non-null  int64
 1   EXAMIN_YM              18880 non-null  int64
 2   SEXDSTN_FLAG_CD        18880 non-null  object
 3   AGRDE_FLAG_NM          18880 non-null  object
 4   ANSWRR_OC_AREA_NM      18880 non-null  object
 5   HSHLD_INCOME_DGREE_NM  18880 non-null  object
 6   level_1                18880 non-null  int64
 7   hobby                  18880 non-null  object
dtypes: int64(3), object(5)
memory usage: 1.3+ MB

In [75]:
expanded.head(10)

,RESPOND_ID,EXAMIN_YM,SEXDSTN_FLAG_CD,AGRDE_FLAG_NM,ANSWRR_OC_AREA_NM,HSHLD_INCOME_DGREE_NM,level_1,0
0,425726,202310,M,20대,강원도,무응답,0,국내 프로스포츠 영상 시청
0,425726,202310,M,20대,강원도,무응답,1,걷기-속보-조깅 직접 하기
0,425726,202310,M,20대,강원도,무응답,2,골프 직접 하기
0,425726,202310,M,20대,강원도,무응답,3,구기스포츠 직접 하기
0,425726,202310,M,20대,강원도,무응답,4,SNS -인터넷 커뮤니티 활동
0,425726,202310,M,20대,강원도,무응답,5,낮잠자기
0,425726,202310,M,20대,강원도,무응답,6,만화책 보기
0,425726,202310,M,20대,강원도,무응답,7,산책-걷기
0,425726,202310,M,20대,강원도,무응답,8,영상 컨텐츠 시청
0,425726,202310,M,20대,강원도,무응답,9,음악-라디오 감상

In [77]:
expanded['hobby'] = expanded[0]

In [79]:
del expanded[0]

In [94]:
expanded.groupby('hobby').count().sort_values(['level_1'], ascending=False).to_excel("test.xlsx")

In [97]:
del expanded['level_1']

In [98]:
expanded

,RESPOND_ID,EXAMIN_YM,SEXDSTN_FLAG_CD,AGRDE_FLAG_NM,ANSWRR_OC_AREA_NM,HSHLD_INCOME_DGREE_NM,hobby
0,425726,202310,M,20대,강원도,무응답,국내 프로스포츠 영상 시청
0,425726,202310,M,20대,강원도,무응답,걷기-속보-조깅 직접 하기
0,425726,202310,M,20대,강원도,무응답,골프 직접 하기
0,425726,202310,M,20대,강원도,무응답,구기스포츠 직접 하기
0,425726,202310,M,20대,강원도,무응답,SNS -인터넷 커뮤니티 활동
...,...,...,...,...,...,...,...
2109,53335358,202310,F,60대,서울특별시,300이상500만원 미만,산책-걷기
2109,53335358,202310,F,60대,서울특별시,300이상500만원 미만,음악-라디오 감상
2109,53335358,202310,F,60대,서울특별시,300이상500만원 미만,독서
2109,53335358,202310,F,60대,서울특별시,300이상500만원 미만,어학-기술-자격증 취득
2109,53335358,202310,F,60대,서울특별시,300이상500만원 미만,요리-베이킹

In [100]:
def read_to_expand(filename):
    data = pd.read_csv(filename)
    expanded = pd.concat([
        data, 
        data['WT3M_EXPR_LSR_CLTUR_VALUE'].str.split(pat=',', expand=True).stack().reset_index().set_index('level_0')
    ], axis=1)
    del expanded['WT3M_EXPR_LSR_CLTUR_VALUE']
    del expanded['ONE_YEAR_WITHIN_EXPR_LSR_CLTUR_VALUE']
    expanded['hobby'] = expanded[0]
    del expanded[0]
    del expanded['level_1']
    return expanded

In [101]:
d202310 = read_to_expand('CI_LSR_CLTUR_SCLAS_TY_ACCTO_EXPR_AT_INFO_202310.csv')

In [128]:
from datetime import datetime

In [162]:
yearmonth = pd.to_datetime("2023:10", format="%Y:%m")

In [163]:
yearmonths = [(yearmonth - pd.DateOffset(months=i)).strftime("%Y%m") for i in range(24)]

In [188]:
result = pd.DataFrame()

for ym in yearmonths:
    expand = read_to_expand('CI_LSR_CLTUR_SCLAS_TY_ACCTO_EXPR_AT_INFO_' + ym + '.csv')

   RESPOND_ID  EXAMIN_YM SEXDSTN_FLAG_CD AGRDE_FLAG_NM ANSWRR_OC_AREA_NM  \
0      425726     202310               M           20대               강원도

  HSHLD_INCOME_DGREE_NM           hobby
0                   무응답  국내 프로스포츠 영상 시청
   RESPOND_ID  EXAMIN_YM SEXDSTN_FLAG_CD AGRDE_FLAG_NM ANSWRR_OC_AREA_NM  \
0    53335716     202309               M           20대               강원도

  HSHLD_INCOME_DGREE_NM   hobby
0         300이상500만원 미만  영화관 관람
   RESPOND_ID  EXAMIN_YM SEXDSTN_FLAG_CD AGRDE_FLAG_NM ANSWRR_OC_AREA_NM  \
0      151818     202308               M           20대               강원도

  HSHLD_INCOME_DGREE_NM           hobby
0         300이상500만원 미만  걷기-속보-조깅 직접 하기
   RESPOND_ID  EXAMIN_YM SEXDSTN_FLAG_CD AGRDE_FLAG_NM ANSWRR_OC_AREA_NM  \
0      451059     202307               M           20대               강원도

  HSHLD_INCOME_DGREE_NM   hobby
0              300만원 미만  영화관 관람
   RESPOND_ID  EXAMIN_YM SEXDSTN_FLAG_CD AGRDE_FLAG_NM ANSWRR_OC_AREA_NM  \
0    53332775     202306               F           20대               강원도

  HSHLD_INCOME_DGREE_NM   hobby
0              300만원 미만  영화관 관람
   RESPOND_ID  EXAMIN_YM SEXDSTN_FLAG_CD AGRDE_FLAG_NM ANSWRR_OC_AREA_NM  \
0    53359075     202305               M           20대               강원도

  HSHLD_INCOME_DGREE_NM      hobby
0              300만원 미만  영상 컨텐츠 시청
   RESPOND_ID  EXAMIN_YM SEXDSTN_FLAG_CD AGRDE_FLAG_NM ANSWRR_OC_AREA_NM  \
0    53377416     202304               F           20대               강원도

  HSHLD_INCOME_DGREE_NM            hobby
0              300만원 미만  사진 직접 활동 및 수강하기
   RESPOND_ID  EXAMIN_YM SEXDSTN_FLAG_CD AGRDE_FLAG_NM ANSWRR_OC_AREA_NM  \
0    53322218     202303               F           20대             서울특별시

  HSHLD_INCOME_DGREE_NM   hobby
0              300만원 미만  박물관 관람
   RESPOND_ID  EXAMIN_YM SEXDSTN_FLAG_CD AGRDE_FLAG_NM ANSWRR_OC_AREA_NM  \
0    53367343     202302               F           30대               강원도

  HSHLD_INCOME_DGREE_NM        hobby
0              300만원 미만  구기스포츠 직접 하기
   RESPOND_ID  EXAMIN_YM SEXDSTN_FLAG_CD AGRDE_FLAG_NM ANSWRR_OC_AREA_NM  \
0    53365930     202301               M           20대               강원도

  HSHLD_INCOME_DGREE_NM       hobby
0              300만원 미만  미술관-전시관 관람
   RESPOND_ID  EXAMIN_YM SEXDSTN_FLAG_CD AGRDE_FLAG_NM ANSWRR_OC_AREA_NM  \
0    53322175     202212               F           20대             서울특별시

  HSHLD_INCOME_DGREE_NM hobby
0         500이상700만원 미만    독서
   RESPOND_ID  EXAMIN_YM SEXDSTN_FLAG_CD AGRDE_FLAG_NM ANSWRR_OC_AREA_NM  \
0    53326666     202211               M           60대               강원도

  HSHLD_INCOME_DGREE_NM       hobby
0              300만원 미만  미술관-전시관 관람
   RESPOND_ID  EXAMIN_YM SEXDSTN_FLAG_CD AGRDE_FLAG_NM ANSWRR_OC_AREA_NM  \
0    53354797     202210               F           20대               강원도

  HSHLD_INCOME_DGREE_NM hobby
0              300만원 미만    게임
   RESPOND_ID  EXAMIN_YM SEXDSTN_FLAG_CD AGRDE_FLAG_NM ANSWRR_OC_AREA_NM  \
0    53322236     202209               F           40대             서울특별시

  HSHLD_INCOME_DGREE_NM  hobby
0              700만원 이상  국내 여행
   RESPOND_ID  EXAMIN_YM SEXDSTN_FLAG_CD AGRDE_FLAG_NM ANSWRR_OC_AREA_NM  \
0    53322392     202208               F           60대             서울특별시

  HSHLD_INCOME_DGREE_NM   hobby
0         300이상500만원 미만  요리-베이킹
   RESPOND_ID  EXAMIN_YM SEXDSTN_FLAG_CD AGRDE_FLAG_NM ANSWRR_OC_AREA_NM  \
0    53327425     202207               M           60대               경기도

  HSHLD_INCOME_DGREE_NM    hobby
0         500이상700만원 미만  "박물관 관람
   RESPOND_ID  EXAMIN_YM SEXDSTN_FLAG_CD AGRDE_FLAG_NM ANSWRR_OC_AREA_NM  \
0    53363984     202206               F           40대               강원도

  HSHLD_INCOME_DGREE_NM            hobby
0         500이상700만원 미만  "국내 프로스포츠 영상 시청
   RESPOND_ID  EXAMIN_YM SEXDSTN_FLAG_CD AGRDE_FLAG_NM ANSWRR_OC_AREA_NM  \
0    53354078     202205               M           60대               강원도

  HSHLD_INCOME_DGREE_NM            hobby
0              300만원 미만  "해외 프로스포츠 영상 시청
   RESPOND_ID  EXAMIN_YM SEXDSTN_FLAG_CD AGRDE_FLAG_NM ANSWRR_OC_AREA_NM  \
0    53322261     202204               M           60대             서울특별시

  HSHLD_INCOME_DGREE_NM            hobby
0         300이상500만원 미만  "걷기-속보-조깅 직접 하기
   RESPOND_ID  EXAMIN_YM SEXDSTN_FLAG_CD AGRDE_FLAG_NM ANSWRR_OC_AREA_NM  \
0    53322197     202203               M           30대             서울특별시

  HSHLD_INCOME_DGREE_NM    hobby
0         300이상500만원 미만  "박물관 관람
   RESPOND_ID  EXAMIN_YM SEXDSTN_FLAG_CD AGRDE_FLAG_NM ANSWRR_OC_AREA_NM  \
0         518     202202               M           50대              경상남도

  HSHLD_INCOME_DGREE_NM  hobby
0              300만원 미만  "낮잠자기
   RESPOND_ID  EXAMIN_YM SEXDSTN_FLAG_CD AGRDE_FLAG_NM ANSWRR_OC_AREA_NM  \
0      196829     202201               M           20대               강원도

  HSHLD_INCOME_DGREE_NM                 hobby
0              300만원 미만  기타 문화예술 직접 활동 및 수강하기
   RESPOND_ID  EXAMIN_YM SEXDSTN_FLAG_CD AGRDE_FLAG_NM ANSWRR_OC_AREA_NM  \
0      411575     202112               F           20대               강원도

  HSHLD_INCOME_DGREE_NM   hobby
0              300만원 미만  영화관 관람
   RESPOND_ID  EXAMIN_YM SEXDSTN_FLAG_CD AGRDE_FLAG_NM ANSWRR_OC_AREA_NM  \
0    50170567     202111               F           20대             서울특별시

  HSHLD_INCOME_DGREE_NM   hobby
0              300만원 미만  영화관 관람

In [192]:
result = pd.concat(results)

In [194]:
result.to_csv("result.csv")

In [195]:
result.columns

Index(['RESPOND_ID', 'EXAMIN_YM', 'SEXDSTN_FLAG_CD', 'AGRDE_FLAG_NM',
       'ANSWRR_OC_AREA_NM', 'HSHLD_INCOME_DGREE_NM', 'hobby'],
      dtype='object')

In [196]:
columns = ['응답ID', '응답연월', '성별', '연령대', '지역', '수입', '취미']

In [197]:
result.columns = columns

In [200]:
result = result.reset_index()

In [201]:
del result['index']

In [206]:
result['취미'] = result['취미'].str.replace('"', '').str.replace(' ', '')

In [207]:
del result['취미2']

In [208]:
result.to_csv("result.csv")

In [209]:
result

            응답ID    응답연월 성별  연령대     지역   수입             취미
0         425726  202310  M  20대    강원도  무응답    국내프로스포츠영상시청
1         425726  202310  M  20대    강원도  무응답   걷기-속보-조깅직접하기
2         425726  202310  M  20대    강원도  무응답         골프직접하기
3         425726  202310  M  20대    강원도  무응답      구기스포츠직접하기
4         425726  202310  M  20대    강원도  무응답  SNS-인터넷커뮤니티활동
...          ...     ... ..  ...    ...  ...            ...
483179  50350280  202111  M  20대  서울특별시  무응답          산책-걷기
483180  50350280  202111  M  20대  서울특별시  무응답        수다-잡담하기
483181   3232953  202111  M  20대  서울특별시  무응답    해외프로스포츠영상시청
483182   3232953  202111  M  20대  서울특별시  무응답      라켓스포츠직접하기
483183   3232953  202111  M  20대  서울특별시  무응답             게임

[483184 rows x 7 columns]

In [231]:
filtered_hobbys = result.groupby('취미').count().sort_values(['응답ID'], ascending=False).head(87).index

In [236]:
result = result[result['취미'].isin(filtered_hobbys)]

In [237]:
result.to_csv("result.csv")